<div class="row">
	<!--aside class="col-md-4"-->
		<!--li-->
			<div class = "col-md-1 installation_check_box">
				<!--%= check_box_tag(:installation) %-->
				<!--input type="checkbox" name="tag_ids[]" value="<!--%= "check_box_" + String(installation_counter) %>" /-->
				<%= f.check_box :torun %>
				<%= hidden_field_tag :number, String(installation_counter) %>
			</div>			
			<div class = "col-md-4">
				<%= link_to installation.name, installation %>
			<!--lines_installation_path(installation)-->
			</div>			
			<div class = "col-md-4">
			<% if current_user != nil && current_user.admin? %>
				<%= link_to "edit", edit_installation_path(installation), :class => "edit" %>
				<%= link_to "delete", installation, method: :delete, data: { confirm: "You sure?" }, :class => "delete" %>
			<% end %>
			</div>
			<div class = "col-md-3">
			</div>			

		<!--/li-->
	<!--/aside>
	<div class="col-md-8">
	</div-->
</div>