<% provide(:title, "Edit Installation " + String(@installation.id)) %>
<h1>Edit Installation</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@installation) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :version %>
			<%= f.text_field :version, class: 'form-control' %>

			<%= f.label :os %>
			<%= f.text_field :os, class: 'form-control' %>
		
			<%= f.label :source_link %>
			<%= f.text_field :source_link, class: 'form-control' %>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>