<% provide(:title, 'All Installations') %>
<h1>All Installations</h1>
<div class="row">
	<%= form_for(installations_path ) do |f| %>
		<%= hidden_field_tag :id, 2%>
	
		<div class="col-md-6">
			<span><%= pluralize(@installations.count, "installation") %></span>
	
			<%= will_paginate %>

			<ul class="installations">
				<!--%= render @installations %-->
				<%= render @installations,  f: f  %>
			</ul>

			<%= will_paginate %>
		</div>
		<div class="col-md-6">	
			<div class="row">
				<%= link_to "Create New Installation", instanew_path %>
			</div>
			<div class="row">
			<!--%= f.submit "Add line", class: "btn btn-primary" %-->
				<%= f.submit "Generate File", class: "btn btn-primary" %>
			<!--%= link_to "Generate File", createfile_path %-->	
			</div>
		</div>
	<% end %>
</div>	