<% provide(:title, 'All Installations') %>
<h1>All Installations</h1>
<div class="row">
	<%= form_for(installations_path ) do |f| %>
		<%= hidden_field_tag :id, 2%>
		<div class="col-md-8">
			<span><%= pluralize(@installations.count, "installation") %></span>
			<%= will_paginate %>
			<ul class="installations">
				<%= render @installations,  f: f  %>
			</ul>
			<%= will_paginate %>
		</div>
		<div class="col-md-4">
			<% if logged_in? %>
				<div class="row btn btn-default">
					<%= link_to "Create New Installation", instanew_path %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>	