<% provide(:title, "Create File") %>
<h1>Create File</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<!--%= form_for(:run_file, url: createfile_path) do |f| %-->
		<%= form_for(:Instalation, url: createfile_path(@instalations)) do |f| %>
			
			<!--%= render @instalations,  f: f  %-->
		
		
				<% @instalations.each do |product| -%>

  				<!--%= fields_for 'product[]' , product do |product_fields| -%-->
  				<%= fields_for '@instalations[]' , product do |product_fields| -%>
					<div class="row">
 					<div class="col-md-1">
						<!--%= product_fields.check_box :torun %-->
						<%= product_fields.check_box :torun %>
					</div>
					<div class="col-md-8">

					<!--%= link_to product_fields, product.name %-->
						<%= link_to product.name, product %>
					</div>
    			<!--%= product_fields.check_box :torun %-->
					</div>

  			<% end -%>

			<% end -%>
		

			<%= f.submit "Create File", class: "btn btn-primary", id:"create file" %>
		<% end %>
	</div>
</div>