<% provide(:title, 'All Instalations') %>
<h1>All Instalations</h1>
<span><%= pluralize(@instalations.count, "instalation") %></span>
<%= will_paginate %>

<ul class="instalations">
	<%= render @instalations %>
</ul>

<%= will_paginate %>

<li><%= link_to "Create New Instalation", instanew_path %></li>	