<% provide(:title, @instalation.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @instalation.name %>
			</h1>			
			<h2>
				<div>
					Vession:
					<%= @instalation.version %>
				</div>
				<div>
					Operation System: 
					<%= @instalation.os %>
				</div>
					<%= link_to "edit", edit_instalation_path(@instalation) %>
					<%= link_to "delete", @instalation, method: :delete, data: { confirm: "You sure?" } %>
			</h2>
			<!--section class="stats">
				<!--%= render 'shared/stats' %-->
			</section-->
		</section>
	</aside>
	<div class="col-md-8">
	</div>
</div>