<% provide(:title, @instalation.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @instalation.name %>
			</h1>			
			<h2>
				<div id="version">
					Vession: <%= @instalation.version %>
				</div>
				<div id="os">
					Operation System: <%= @instalation.os %>
				</div>
				<div>
					<% if current_user.admin? %>
						<%= link_to "edit", edit_instalation_path(@instalation)%>
						<%= link_to "delete", @instalation, method: :delete, data: { confirm: "You sure?" } %>
					<% end %>
				</div>
			</h2>
			<!--section class="stats">
				<!--%= render 'shared/stats' %-->
			</section-->
		</section>
	</aside>
	<div class="col-md-8">
		<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
			<div class="col-md-8">
				<% cities_array = Line.all.map { |line| [line.content, line.id] } %>
				<select>
					<%= options_for_select(cities_array) %>
				</select>
			</div>
			<div class="col-md-4">
				<%= f.submit "Add line", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>