<% provide(:title, "Instalation " + @instalation.name) %>
<div class="row">
	<h1>
				<%= "Instalation of: " + @instalation.name %>
	</h1>	
	<aside class="col-md-4">
		<section class="user_info">
			<h2>
				<div id="version">
					Version: <%= @instalation.version %>
				</div>
				<div id="os">
					Operation System: <%= @instalation.os %>
				</div>
				<div id="Source link">
					Source link: <%= link_to @instalation.source_link  %>
				</div>
				<div>
					<!--% if current_user.admin? && !current_user?(@user) TODO understand why it's not working %--> 
					<% if current_user.admin? %>
						<%= link_to "edit", edit_instalation_path(@instalation), :class => "edit" %>
						<%= link_to "delete", @instalation, method: :delete, data: { confirm: "You sure?" }, :class => "delete" %>
					<% end %>
				</div>
			</h2>
			</section-->
		</section>
	</aside>
	<div class="col-md-8">
		<h3><%= @title %></h3>
		<% if @lines != nil && @lines != "" %>
			<div class="col-md-12">
				<span><%= pluralize(@lines.count, "line") %></span>
			</div>	
			<div class="col-md-6">
				<%= render @steps %>
			</div>
		<% end %>
		<%= form_for(@instalation.active_steps.build, remote: false) do |f| %>		
			<div><%= hidden_field_tag :instalation_id, @instalation.id %></div>
				<!--TODO change to dinamic -->	
			<div class="col-md-10">
				<%= f.collection_select(:line_id, Line.all, :id, :content) %>
			</div>
			<div class="col-md-2">
				<%= f.submit "Add line", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>